<div class="container p-0">
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="contact">
        <div class="w-100">
            <ng-container *ngIf="isSaved; else defaultContent">
                Thanks for contacting, I will get back to you as soon as possible.
            </ng-container>
            <ng-template #defaultContent>
                <form novalidate class="example-container" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                    <h2 class="mb-5">Contact</h2>
                    <mat-form-field class="w-100 mb-2">
                        <input matInput placeholder="Name" formControlName="name">
                        <mat-error *ngIf="contactForm.get('name')?.invalid">You must enter a value</mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-100 mb-2">
                        <input matInput placeholder="Email" formControlName="email">
                        <mat-error *ngIf="contactForm.get('email')?.invalid">{{getEmailErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-100 mb-2">
                        <textarea matInput placeholder="Message" formControlName="message"></textarea>
                    </mat-form-field>
                    <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid || isSaving">
                        <ng-container *ngIf="isSaving; else defaultText">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </ng-container>
                        <ng-template #defaultText>Submit</ng-template>
                    </button>
                    <mat-error *ngIf="submitErrorMessage">{{submitErrorMessage}}</mat-error>
                </form>
            </ng-template>
        </div>
    </section>
</div>